p{
    color: green;
}

#p1{
    color: red;
}
.pblue{
    color: blue;
}
.pfont{
    font-size: 35px;
    color: coral;
}


/* */


div p{
    color: chocolate;
}


#idiv #pdiv{
    color: aquamarine;
}